  /* ==================== */
 /*      BASIC SETUP     */
/* ==================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    text-rendering: optimizeLegibility;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #34495e;
}

a { text-decoration: none; }
li { list-style: none; }

h1,
h2,
h3 {
    text-transform: uppercase;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.125em;
	color: #4a89ca;
	font-weight: 300;
	margin: 0;
}

h3 {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 140%;
    line-height: 1.25em;
    font-weight: 300;
}

p {
    font-size: 95%;
    line-height: 1.2;
}

.photo-container img {
    display: block;
}


/* ---- FLOAT CLEARFIX ---- */

.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}

/********** BASE LAYOUT **********/

.wrapper {
    width: 94%;
    max-width: 1260px;
    background: #fff;
    margin: 0 auto;
}



  /* ==================== */
 /*        HEADER        */
/* ==================== */

.main-header {
    text-align: center;
    padding: 2.8em 0;
}

/********** MAIN HEADING **********/

.hero-text {
    padding: .2em 0;
    font-weight: 800;
    margin: 0 0 1em;
    line-height: 1;
    font-size: 1.80em;
}

.hero-text span {
    margin-left: -7px;
    font-weight: 300;
}

/********** LOGO **********/

.logo {
    width: 45px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: rotate(-360deg) scale(1.3);
}


  /* ==================== */
 /*     CONTENT STYLE    */
/* ==================== */

.photo-container {
    width: 30%;
    float: left;
    margin: .7em 2.25% 3.5em;
    text-align: center;
}

.photo-container:nth-child(3n+2) {
    margin: .7em .5% 2em;
}

.photo-container img {
    max-width: 100%;
    height: 230px; 
}

.photo-container p {
    padding: 3px 0;
}

.img-container {
    display: block;
    line-height: 0;
    padding: 6px;
}

.photo {
    overflow: hidden;
    position: relative;
}

.photo-overlay {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
    color: #fff;
    padding: 0 20px;
}


/********** BUTTON **********/

.btn {
    color: #34495e;
    width: 75%;
    cursor: pointer;
    display: block;
    margin: 1em auto 0;
    border: 2px solid #34495e;
    border-radius: 10%;
    padding: 5px 0;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 30px;
}

.btn:hover {
    color: #fff;
    background-color: #34495e;
}

.slide .btn,
.flip-box .btn {
    background: #fff;
    color: #000;
    border-color: #fff;
}

.slide .photo-overlay {
    opacity: 1;
    background-color: #34495e;
}

  /* ======================================= */
 /*        TRANSITION AND TRANSFORMS        */
/* ======================================= */

/************** PHOTO OVERLAY **************/

.photo-overlay {
    opacity: 0;
    transition: opacity 0.5s;
}

.photo-overlay:hover {
    opacity: 1;
}

/****** IMAGE TRANSITION & TRANSFORM ******/

/***************** ROW 1 *****************/

img {
    transition: transform .5s;
}

img:hover {
    transform: scale(1.1) rotate(-5deg);
}

/***************** ROW 2 *****************/

.photo img {
    transform-origin: 0 0;
}

.photo:hover img {
    transform: scale(1.2);
}

/***************** ROW 3 *****************/

.slide .photo-overlay,
.slide img {
    transition: transform .6s ease-out;
}

.slide .photo-overlay {
    transform: translateX(-100%);
}

.slide:hover .photo-overlay {
    transform: translateX(0);
}

.slide:hover img {
    transform: translateX(100%);
}

/***************** ROW 4 *****************/

.flip {
  perspective: 700px;
/*  perspective-origin: bottom left;*/
}

.flip .photo { 
  transition: transform 1s ease;
  transform-style: preserve-3d;
    overflow: visible;
}

.flip .photo:hover {
  transform: rotate3d(0, 1, 0, 180deg);
}

.side-a,
.side-b {
  backface-visibility: hidden;
}

.side-b {
  transform: rotateY(180deg);
  opacity: 1;
  background-color: #34495e;
}

/************
MEDIA QUERIES
*************/

@media (min-width: 0) and (max-width: 768px) {
    .photo-container,
    .photo-container:nth-child(3n+2) {
        width: 90%;
        margin: 0 auto;
        float: none;
        margin-bottom: 4em;
    }
    
    .photo-container img {
        max-width: 100%;
        height: auto;
    }
    
    .btn {
        width: 50%;
    }
    
    .photo-description {
        width: 85%;
        margin: 0 auto;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .photo-container,
    .photo-container:nth-child(3n+2) {
        width: 48%;
        float: left;
        margin-left: 2px;
    }
    
    .photo-container img {
        width: 100%;
    }
}

